<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User data</title>
  </head>
  <body>
    <h1>Passing data from server to Client</h1>
    <h1><%=username%></h1>
    <p>Email:<%=email%></p>
    <p>Age:<%=age%></p>

    <%if(isPremiumUser){%>
    <p>You are premium Member</p>
    <%}else{%>
    <p>You are not a premium Member</p>
    <%}%>

    <p><%=(isLogin)?"Welcome" :"please Login"%></p>
  </body>
</html>
